---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
     xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
     xmlns:atom="http://www.w3.org/2005/Atom"
     xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}</link>
    <language>{{ site.language }}</language>
    <copyright>{{ site.copyright }}</copyright>
    <atom:link href="{{ site.feedUrl }}" rel="self" type="application/rss+xml"/>
    <description>{{ site.description }}</description>
    <itunes:summary>{{ site.longDescription or site.description }}</itunes:summary>
    <itunes:author>{{ site.author }}</itunes:author>
    <itunes:explicit>{{ site.explicit | string | lower }}</itunes:explicit>
    <itunes:type>serial</itunes:type>
    <itunes:owner>
      <itunes:name>{{ site.author }}</itunes:name>
      <itunes:email>{{ site.email }}</itunes:email>
    </itunes:owner>
    <itunes:image href="{{ site.image }}"/>
    <itunes:category text="{{ site.itunesCategory }}">
      {% if site.itunesSubcategory %}<itunes:category text="{{ site.itunesSubcategory }}"/>{% endif %}
    </itunes:category>
    <image>
      <url>{{ site.image }}</url>
      <title>{{ site.title }}</title>
      <link>{{ site.url }}</link>
    </image>
    
    {% for episode in episodes.episodes | sortById | reverse %}
    <item>
      <title>{{ episode.title }}</title>
      <link>{{ site.url }}/episodes/{{ episode.id }}/</link>
      <guid isPermaLink="false">{{ site.url }}/episodes/{{ episode.id }}/</guid>
      <pubDate>{{ episode.airDate | dateRFC2822 }}</pubDate>
      <description><![CDATA[{{ episode.description }}]]></description>
      {% if episode.longDescription %}
      <content:encoded><![CDATA[{{ episode.longDescription }}]]></content:encoded>
      {% endif %}
      
      <enclosure 
        url="{{ site.url }}{{ episode.audioUrl }}" 
        length="{{ episode.fileSize or (episode.durationSeconds * 16000) }}" 
        type="{{ episode.audioType or 'audio/x-m4a' }}"/>
      
      <itunes:title>{{ episode.title }}</itunes:title>
      <itunes:author>{{ site.author }}</itunes:author>
      <itunes:subtitle>{{ episode.description | truncate(255) }}</itunes:subtitle>
      <itunes:summary><![CDATA[{{ episode.description }}]]></itunes:summary>
      <itunes:duration>{{ episode.duration }}</itunes:duration>
      <itunes:explicit>{{ site.explicit | string | lower }}</itunes:explicit>
      <itunes:image href="{{ site.image }}"/>
      <itunes:season>{{ episode.season }}</itunes:season>
      <itunes:episode>{{ episode.episodeNumber }}</itunes:episode>
      <itunes:episodeType>full</itunes:episodeType>
    </item>
    {% endfor %}
  </channel>
</rss>
